<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{ title }} &lt; H.A.C.K. Ticket Vending Machine</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<style>
			.invalid { border: 1px solid red; }
			.qr .mark { background: black; }
			.qr .space { background: white; }
			.qr { border-spacing: 0; }
			.qr td { width: 8px; height: 8px; }
		</style>
    </head>
    <body>
        <h1>H.A.C.K. Ticket Vending Machine</h1>
        <h2>{{ title }}</h2>
        {% block content %}{% endblock %}
    </body>
</html>
