<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{ title }} &lt; H.A.C.K. Ticket Vending Machine</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<style>
			.invalid { border: 1px solid red; }
			.ticket { text-align: center; }
			.ticket .id { font-family: monospace; font-size: 16pt; }
			@media print { #printcontrols { display: none } }
		</style>
    </head>
    <body>
        <h1>H.A.C.K. Ticket Vending Machine</h1>
        <h2>{{ title }}</h2>
        {% block content %}{% endblock %}
    </body>
</html>
