{% extends "base.html" %}
{% set title = event.name %}
{% block content %}
<form action="" method="post">
<table>
    <tr>
        <th>Date</th>
        <td>{{ event.start }}{% if event.end != event.start %} till {{ event.end }}{% endif %}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>{{ event.location }}</td>
    </tr>
    <tr>
        <th>Webpage</th>
        <td><a href="{{ event.homepage }}" id="hplink">{{ event.homepage }}</a></td>
    </tr>
    {% for name, caption, _ in fields %}
    <tr>
        <th><label for="{{ name }}">{{ caption }}</label></th>
        <td><input type="text" name="{{ name }}" id="{{ name }}"
            {% if name in values %}value="{{ values[name].value }}"
            {% if values[name].error %}class="invalid"{% endif %}
            {% endif %} /></td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td><input type="submit" value="Get ticket" /></td>
    </tr>
</table>
</form>
<ul>
    <li>Although the notes field is not required to fill, please <b>fill it with what you can contribute</b> to the event.</li>
    <li>Name and e-mail address are required to fill, we'll display your ticket right away and send you a link in e-mail that you can use to retrieve your ticket later.</li>
    <li>Use the notes to inform us if you'd like to bring something big or need some other specialty.</li>
    <li>You don't have to put your legal name, you can use a nickname instead. You can also use any e-mail address you'd like, even a <a href="https://mailinator.com/">disposable one</a>.</li>
    <li>Your data will be saved on a server located in Budapest, Hungary, and will only be used in conjuction with {{ event.name }} by the organizers. All data will be destroyed until {{ event.end }} when the event ends.</li>
</ul>
<script type="text/javascript">
<!--
    var a = document.getElementById("hplink")
	a.innerHTML = a.innerHTML.replace("?", "?<br />");
// -->
</script>
{% endblock %}
